*{
  margin: 0;
  padding: 0;
}



.navbar{
  padding:1vh;
  background-color: rgb(31, 31, 31);
  color:white;
  display:flex;
  justify-content: space-between;
  height:5vh;
}

.links{
  
  width:20vh;
  display: flex;
  justify-content: space-around;
  
}

.links div{
  padding-top: 4px;
  cursor: pointer;
}

.content{
  color:black;
}

.search-container{
  display: flex;
  justify-content: center;
  width:100%;
  padding:1vh;
}

input{
  width:20vh;
  height: 4vh;
}

button{
  color:white;
  background-color: rgb(31, 31, 31);
  cursor: pointer;
}